.stApp{
    background: linear-gradient(
    135deg,
    #38c970 0%,
    #a1cd39 50%,
    #d089c9 100%
    );
    min-height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.card{
    background-color: rgb(89, 197, 99);
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 8px 20px  rgba(0, 0, 0, 0.08);
    margin-bottom: 25px;

}
h1,h2,h3{
    color: goldenrod;

}
div[data-tested="metric-container"]{
    background-color:rgb(176, 151, 53);
    border-radius: 16px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);

}
.prediction-box{
    background:  linear-gradient(
        135deg,
        #92af42,
        #3fb646
    );
    padding: 22px;
    border-radius: 14px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: blueviolet;
    margin-top: 15px;
}.stApp{
    background: linear-gradient(
    135deg,
    #f8fafc 0%,
    #e0f2fe 50%,
    #f1f5f9 100%
    );
    min-height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.card{
    background-color: rgb(215, 192, 173);
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 8px 20px  rgba(0, 0, 0, 0.08);
    margin-bottom: 25px;

}
h1,h2,h3{
    color: goldenrod;

}
div[data-tested="metric-container"]{
    background-color:rgb(132, 177, 34);
    border-radius: 16px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);

}
.prediction-box{
    background:  linear-gradient(
        135deg,
        #dcfce7,
        #bbf7d0
    );
    padding: 22px;
    border-radius: 14px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: blueviolet;
    margin-top: 15px;
}