.stApp{
    background: linear-gradient(135deg, #0f766e, #14532d);
    min-height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card{
    background-color: rgb(89, 197, 99);
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 8px 20px  rgba(0, 0, 0, 0.08);
    margin-bottom: 25px;

}
h1,h2,h3{
    color: goldenrod;

}
div[data-tested="metric-container"]{
    background-color:rgb(176, 151, 53);
    border-radius: 16px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);

}
.prediction-box{
    background:  linear-gradient(
        135deg,
        #92af42,
        #3fb646
    );
    padding: 22px;
    border-radius: 14px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: blueviolet;
    margin-top: 15px;
}